<!DOCTYPE html>
<html lang="en">

<head>
    <!-- import some bootstrap css stylesheets, which we will use further down -->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    {% if title %}
        <title>{{title}} - Bucket lists</title>
    {% else %}
        <title>Bucket lists</title>
    {% endif %}

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignup">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Flask example app</h3>
        </div>

    {% block content %}{% endblock %}


    </div>

    </body>

</html>



